@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #fdfdfd;
  color: #333;
  height: 100vh;
  overflow: auto;
}

.card {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1em;
  overflow-y: auto;
}

img.birthday {
  width: 100%;
  max-height: 45vh;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 1.5em;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 2s ease, transform 2s ease;
}

img.birthday.show {
  opacity: 1;
  transform: translateY(0);
}

audio {
  width: 100%;
  max-width: 300px;
  margin-bottom: 1.5em;
}

.text {
  padding: 1em;
  opacity: 0;
  transition: opacity 1s ease;
  font-size: 1.1rem;
  line-height: 1.8;
}

.text.show {
  opacity: 1;
}

h1 {
  font-size: 2rem;
  margin-bottom: 0.3rem;
}

p {
    font-size: 1.1rem;
  }
  
  #typingText br {
    line-height: 1.2;
    margin: 0;
  }
  
.muted {
  opacity: 0.8;
  font-size: 1rem;
  margin-top: 1em;
}
